/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET*/

h1,h2,h3,h4,h5,h6,p{
    font-family: "Roboto", sans-serif;
}

p{
    margin:1em auto;
    font-weight: 300;
}

h1{
    font-size: 4em;
    font-weight: 900;
}
h2{
    font-size: 3.5em;
    font-weight: 900;
}

h4{
    font-size: 1.5em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	/*background: #EEE /*url(../images/back2.png)*/;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

a {
	color: #497097;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted #1A2836;
	color: #1A2836;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.hide-on-mobile{
    display:none;
}

#m-menu{
    float:left;
    width:100%;
}

#hamburger-img img{
    float:left;
    height:3em;
}

#m-logo img{
    height:5em;
}

#m-menu a{
    height:3em;
    line-height: 3em;
    color:#DDD;
}

#m-menu li{
    background-color:#333;
    display:block;
}

#m-contact{
    float: right;
    padding:1em;
}

.about-dept-wrap .col-4 {
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-dept-wrap p {
    text-align: justify !important;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .hide-on-desktop{
        display:none;
    }
    .hide-on-mobile{
        display:inline;
    }
    
    .about-dept-wrap{
        margin:6em;
    }
    .dept-left{
        float:left !important;
    }
    
    .dept-right{
        float:right !important;
        text-align: right;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    .dept-left{
        float:left !important;
    }
    .dept-right{
        float:right !important;
        text-align: right;
    }
}

.sci-gr{
    color:#41AC4A;
}

.tch-bl{
    color:#7396CE;
}

.egr-or{
    color:#E95026;
}

.mth-ye{
    color:#EAAE1D;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

img, video {
    max-width: 100%;
    height: auto;
}

#content-wrap{
    margin-top:6.25em;
}

header{
    background: #222 none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

nav{
    text-align: center;
    height:6.25em;
    line-height: 6.25em;
    width: 100%;
    z-index: 9999;
}

ul.nav-main{
    width: 8.333em;
    list-style-type: none;
    margin: 0px auto;
    padding: 0.333em 0px;
    text-align: center;
    line-height: 6.25em;
    display: inline;
    z-index: 9999;
}

ul.nav-main > li{
    display: inline;
}

ul.nav-main > li > a {
	color: #DDD;
	padding: 0em 0.75em;
	text-decoration: none;
	font-size:1.667em;
    text-transform: uppercase;
}

nav a{
	transition:color 0.25s ease 0s;
}

ul#nav-main li a:hover {
	color:#EEB346;
}

ul#nav-main img{
    vertical-align: middle;
    height: 3em;
    padding: 0.417em 0px;
}

#about-container{
    background-color: #ECECEC;
    padding: 5em;
}